run = ["rebar3", "eunit"]

hidden = ["**/*.beam", "_build"]

[nix]
channel = "stable-22_11"

# Disabled for now, erlang_ls starts a server
# https://github.com/erlang-ls/erlang_ls/issues/1416
# [languages]
# [languages.erlang]
# pattern = "**/{*.erl,*.hrl}"

# [languages.erlang.languageServer]
# start = "erlang_ls --log-level error --transport stdio"
